.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.card-custom-view {
    width: 40%; 
}
.custom-heading {
    padding-top: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

 